[submodule "src/rdpgd"]
	path = src/rdpgd
	url = https://github.com/starkandwayne/rdpgd.git
[submodule "src/rdpg-acceptance-tests"]
	path = src/rdpg-acceptance-tests
	url = git@github.com:starkandwayne/rdpg-acceptance-tests.git
